.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area:hd;
    color: rgb(31, 31, 31);
    font-size: 120%;
    border-radius: 2px;
    font-family: 'Amatic SC';
    min-height: 120px;
    margin: 20px;
}
.header > img {
    height: 100px;
}
.header > img:hover{
    transform: scale(1, 1) rotate(10deg);
}
.header img {
    margin-right: 1em;
}
#back-button > img{
    height: 30px;
}