@import url("header.css");
@import url("card.css");
@import url("footer.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 5;
  }

  html body {
    background-color: white;
}

h2 {
    font-family: "Lucida Console";
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: .1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd"
    "nav nav nav nav nav nav nav"
    "main main main main main main main";
}

.blogcontainer {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-areas:
    "hd hd hd hd hd hd hd"
    "main main main main main main sd "
    "ft ft ft ft ft ft sd";
}

.box {
    box-shadow: 10px 8px 16px 2px  rgb(134, 134, 134);
}

.img-with-caption {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: main;
}

section {
    font-family: "Raleway";
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
}

section img {
    width: 70vw;
    min-width: 500px;
    align-self: center;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 4px;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    section img {
        max-width: 750px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        min-width: 500px;
    }

    .blogcontainer {
        grid-template-areas:
        "hd hd hd hd hd hd hd"
        "main main main main main main main"
        "sd sd sd sd sd sd sd"
        "ft ft ft ft ft ft ft";
    }
}

@media screen and (max-width:380px) {
    .container {
        min-width:350px;
    }
    
}