@import url("header.css");
@import url("card.css");
@import url("footer.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 5;
  }

  html body {
    background-color: white;
}

h2 {
    font-family: "Lucida Console";
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: .1fr;
    grid-template-areas:
    "hd hd hd hd hd hd hd"
    "nav nav nav nav nav nav nav"
    "main main main main main main main";

    min-width: 800px;
}

.blogcontainer {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "hd hd hd hd hd hd hd"
    "main main main main main main sd "
    "ft ft ft ft ft ft sd";

    min-width: 1000px;
}

.box {
    margin: 10px;
    box-shadow: 10px 8px 16px 2px  rgb(134, 134, 134);
}

.img-with-caption {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: flex-start; */
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: main;
}

section {
    display:flex;
    flex-direction: row;
    font-family: "Raleway";
    font-size: 1.2em;
    margin: 10px;
}

section img {
    width: 30vw;
    min-width: 300px;
    float: left;
    margin: 4px 10px 0px 0px;

}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 4px;
}